<div class="container" fxLayout="row" fxFlexOffset="5" fxLayoutGap="50px">
    <div fxFlex="30" class="product-card-dop" fxLayout="column" fxLayoutGap="2px">

        <div fxFlex="20">
            <h3>Ihre Bestellung</h3>
            <div class="subtitle-dop">{{selectedProduct.shortDescription}}</div>
        </div>
        <div class="available-container-dop" fxFlex="18" fxLayout="row">
            <img class="thumbnail-dop" fxLayout="column" fxFlex src={{selectedProduct.imageThumbUrl}}>
            <div fxFlexAlign="center" fxLayout="column" fxFlex="80">
                <div *ngIf="selectedProduct.isAvailable" class="available-text">Verfügbar</div>
                <div *ngIf="!selectedProduct.isAvailable" class="not-available-text">Nicht Verfügbar</div>
                <div>Lieferzeit: 1-2 Wochen</div>
            </div>
        </div>
        <div fxFlex="3" fxFlexAlign="center">
            <div *ngIf="selectedProduct.onSale" class="price old-price-dop">
                Statt&nbsp;<span>{{ selectedProduct.regularPrice | currency: selectedProduct.currency}}</span></div>
        </div>
        <div fxFlex="10" fxLayout="row">
            <div fxFlex="12" fxLayout="column" fxFlexAlign="baseline">
                <mat-form-field>
                    <mat-select (selectionChange)="changeQuantity($event.value)" placeholder="" [value]="1">
                        <mat-option *ngFor="let number of quantityArray" [value]="number+1">
                            {{number+1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="5" fxFlexAlign="baseline"><span>&nbsp;X</span></div>
            <div fxFlex class="price" fxFlexOffset="32" fxFlexAlign="baseline">{{quantityPrice|currency:selectedProduct.currency}}</div>
            <div fxFlex fxLayoutAlign="end" fxFlexAlign="baseline" class="text-info">Zwischensumme</div>
        </div>
        <div fxFlex="5" fxLayout="row">

            <div fxFlex class="price" fxFlexOffset="49" fxFlexAlign="baseline">{{delivaryFees|currency:selectedProduct.currency}}</div>
            <div fxFlex fxLayoutAlign="end" fxFlexAlign="baseline" class="text-info text-info-rigth">Versandkosten & Verpackung</div>
        </div>
        <div fxFlex="5" fxLayout="row" class="total-price-content">
            <div fxFlex="7" fxLayoutAlign="start" class="price ">
                Gesamtbetrag:
            </div>
            <div fxFlex class="price" fxLayoutAlign="center">{{totalPriceWithFees|currency:selectedProduct.currency}}</div>

        </div>
        <div fxFlex="3" fxLayout="row" class="double-bottom-lines">
            <div class="text-info">Differenzbesteuert nach § 25a UStG</div>
        </div>
        <br>
        <div fxFlex="7" fxFlexOffset="15" fxLayoutAlign="center">
            <button class="full-width" color="primary" [disabled]="userDataForm.invalid || !selectedProduct.isAvailable" (click)="userDataFormID.ngSubmit.emit()" mat-raised-button>Kaufen&nbsp;&gt;</button>
        </div>
    </div>
    <div fxFlex="70" class="form-size form-class">
        <form novalidate [formGroup]="userDataForm" #userDataFormID="ngForm" (ngSubmit)="makeOrder()">
            <p>
                <mat-form-field class="quarter-width">
                    <mat-select formControlName="userTitle" placeholder="Anrede *">
                        <mat-option *ngFor="let title of titles" [value]="title.value">
                            {{title.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userDataForm.get('userTitle').invalid">
                        {{getErrorMessage('userTitle')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width field-right-small-margin">
                    <input matInput formControlName="firstName" placeholder="Vorname" type="text" required/>
                    <mat-error *ngIf="userDataForm.get('firstName').invalid">
                        {{getErrorMessage('firstName')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput formControlName="lastName" placeholder="Nachname" type="text" required/>
                    <mat-error *ngIf="userDataForm.get('lastName').invalid">
                        {{getErrorMessage('lastName')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="three-quarter-width field-right-small-margin">
                    <input matInput formControlName="street" placeholder="Straße" type="text" required/>
                    <mat-error *ngIf="userDataForm.get('street').invalid">
                        {{getErrorMessage('street')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="quarter-width">
                    <input matInput formControlName="homeNumber" placeholder="Haus Nr" type="text" required/>
                    <mat-error *ngIf="userDataForm.get('homeNumber').invalid">
                        {{getErrorMessage('homeNumber')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class=" quarter-width field-right-small-margin">
                    <input matInput formControlName="postCode" placeholder="PLZ" min="1" type="number" required/>
                    <mat-error *ngIf="userDataForm.get('postCode').invalid">
                        {{getErrorMessage('postCode')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="three-quarter-width">
                    <input matInput formControlName="placeOfResidence" placeholder="Whonort" type="text" required/>
                    <mat-error *ngIf="userDataForm.get('placeOfResidence').invalid">
                        {{getErrorMessage('placeOfResidence')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width">
                    <mat-select formControlName="userCountry" (selectionChange)="changeCountry($event.value)" placeholder="Land *">
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userDataForm.get('userCountry').invalid">
                        {{getErrorMessage('userCountry')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="quarter-width field-right-quarter-width-margin">
                    <input readonly matInput [matDatepicker]="picker" [max]="maxDate" formControlName="dateOfBirth" placeholder="Geburtsdatum" required/>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="userDataForm.get('dateOfBirth').invalid">
                        {{getErrorMessage('dateOfBirth')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <input matInput formControlName="email" placeholder="Ihre E-Mail Adresse" type="email" required/>
                    <mat-error *ngIf="userDataForm.get('email').invalid">
                        {{getErrorMessage('email')}}
                    </mat-error>
                </mat-form-field>
            </p>
            <button class="full-width" type="submit" color="primary" mat-raised-button>Kaufen&nbsp;&gt;</button>
            <p>{{userDataForm.value|json}} {{userDataForm.status|json}}</p>
        </form>
    </div>
</div>