.full-width {
    width: 95%;
    max-width: 95%;
}

.field-right-small-margin {
    margin-right: 2%;
}

.field-right-quarter-width-margin {
    margin-right: 27%;
}

.half-width {
    width: 45%;
}

.quarter-width {
    width: 20%;
}

.three-quarter-width {
    width: 70%;
}

.form-size {
    width: 75%;
}