.full-width {
    width: 95%;
    max-width: 95%;
}

.field-right-small-margin {
    margin-right: 2%;
}

.field-right-quarter-width-margin {
    margin-right: 27%;
}

.half-width {
    width: 45%;
}

.quarter-width {
    width: 20%;
}

.three-quarter-width {
    width: 70%;
}

.form-size {
    width: 75%;
}

.product-card-dop {
    padding: 10px;
    .subtitle-dop {
        font: normal 14px/1.4 Arial, sans-serif;
    }
    .thumbnail-dop {
        min-width: 100px;
        min-height: 100px;
    }
    .available-container-dop {
        div {
            text-align: right;
            font-size: 11px;
            line-height: 13px;
            .available-text {
                color: #090;
                font-weight: bold
            }
        }
    }
    .old-price-dop {
        color: #aa2c52;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        span {
            text-decoration-line: line-through;
            text-decoration-style: initial;
            text-decoration-color: initial;
            font-weight: bold;
        }
    }
}