$component-background: #fff;
$old-price-color:#aa2c52;
$available-color:#090;
.form-class {
    background-color: $component-background;
    padding-left: 20px;
}

.full-width {
    width: 95%;
    // max-width: 95%;
}

.field-right-small-margin {
    margin-right: 2%;
}

.field-right-quarter-width-margin {
    margin-right: 27%;
}

.half-width {
    width: 45%;
}

.quarter-width {
    width: 20%;
}

.three-quarter-width {
    width: 70%;
}

.form-size {
    width: 75%;
}

.product-card-dop {
    background-color: $component-background;
    padding: 10px;
    .subtitle-dop {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
    }
    .thumbnail-dop {
        min-width: 100px;
        min-height: 100px;
    }
    .available-container-dop {
        div {
            text-align: right;
            font-size: 11px;
            line-height: 13px;
            .available-text {
                color: $available-color;
                font-weight: bold
            }
            .not-available-text {
                color: $old-price-color;
                font-weight: bold
            }
        }
    }
    .price {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        &.old-price-dop {
            color: $old-price-color;
            span {
                text-decoration-line: line-through;
                text-decoration-style: initial;
                text-decoration-color: initial;
                font-weight: bold;
            }
        }
    }
    .text-info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        font-weight: normal;
        &.text-info-rigth {
            text-align: right;
        }
    }
    .total-price-content {
        border-top: 2px solid #4c4c4c;
    }
    .double-bottom-lines {
        border-bottom: 7px double #4c4c4c;
    }
}